@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family:'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
*{
    margin: 0%;
    padding: 0%;
}

:root{
    
  --cor0:#c5ebd6;
  --cor1:#83e1ad;
  --cor2:#3ddc84;
  --cor3:#2fa866;
  --cor4:#1a5c37;
  --cor5:#063d1e ;  

  --fonte-padrao:arial,helvetica,verdana,sans-serif;
  --fonte-destaque:'Bebas Neue',cursive;
  --fonte-android:'Android';



}
body{
    background-color:var(--cor0);
    font-family:var(--fonte-padrao);
    
}
header{
    background-color: var(--cor4);
    font-family: var(--fonte-destaque);
    padding-top: 40px;
    min-height:150px;
    text-align: center;
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));
    
}
header h1{
    color: #ffffff;
    margin-bottom:20px;
    font-size:3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.664);
    font-weight: normal;
    

}
header  p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width:600px;
    margin:auto;
    padding-bottom:50px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);

}




nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow:0px 7px 12px rgba(82, 82, 82, 0.589) ;
    
    
}
nav > a{
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;

}
nav > a:hover{
    color:var(--cor5);
    background-color: var(--cor3);
    border-radius: 5px;
    transition-duration: 1s;

}
main{
    min-width:300px;
    max-width:800px;
    background-color: #ffffff;
    margin: auto;
    margin-bottom:30px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    padding:20px;
    box-shadow:0px 0px 14px rgb(83, 83, 83);
    
}
main h1{
    color:var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    
}
main h2{
    color: var(--cor4);
    font-family:var(--fonte-android);
    font-weight: normal;
    background-image: linear-gradient(to right,var(--cor2),transparent);
    padding:2px 8px;
    font-size:1.2em;
    
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height:1.8em;
    font-size:1em;

}
main img{
    width: 100%;
    
}
main img.pequeno{
    max-width: 350px;
    margin: auto;
    display: block;
}
main strong{
    color: #063d1e;
    
    padding:2px 2px;
    margin: 2px;
    
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: #063d1e;
    background-color:var(--cor2);
    padding: 0px;
    margin:0px 3px;
}
main a::after{
    content:'\1F517';
}



main a :hover{
    text-decoration: underline;
    color: var(--cor3);
    
}
div.video{
   background-color: #063d1e;
   margin:0px -20px -30px -20px;
   padding:40px;
   position: relative;
   padding-bottom:54%;
}
div.video > iframe{
    position: absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;

}
aside{
    background-color: var(--cor1);
    padding:10px;
    border-radius:10px;
    box-shadow:3px 3px 10px rgba(0, 0, 0, 0.445);
    margin-top:60px;
    
}
aside > ul{
    list-style-position: inside;
    columns:2;
    list-style-type:'\2714\00A0';
    
    
    

}
aside h3{
    background-color: #063d1e;
    color: #d9f0e3;
    margin:-10px -10px 0px -10px;
    padding: 10px;
    border-radius:10px 10px 0px 0px;
}
footer{
    background-color: var(--cor5);
    color: #ffffff;
    text-align: center;
    font-size:0.8em;
}
footer > p > a{
    color: white;
    font-weight: bold;
    text-decoration: none;

}

footer a:hover{
    color:var(--cor2);
    text-decoration:underline;

}